*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
#foto_perfil{
    margin-top: 16vh;
    border: 3px solid black;
    height: 23vh;
    border-radius: 50%;
}
#nav-bar{
    text-align: center;
    height: 100%;
    width: 30%;
    background-color: red;
    float: left;
}
#container{
    height: 100%;
    width: 70%;
    background-color: orange;
    float: right;
}
.conhecimentos, .objetivos{
    margin-left: 6vw;
    margin-top: 18vh;
}
.conhecimentos > ol{
    font-size: 32px;
}
.objetivos > ul{
    font-size: 32px;
}
.list{
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 4vh;    
}
.list > li{
    margin: auto;
    margin-top: 40px;
}
.list > li > a{
    text-decoration: none;
    color: #fff;
}
#meliante, #endereco, #frase, #telefone, #links_sociais{
    margin-left: 3vw;
}
#email, #sobremnome{
    color: red;
}
#meliante{
    font-size: 3.8em;
    margin-top: 20vh;
}
#endereco{
    margin-top: 1.5vh;
}
#frase{
    margin-top: 6vh;
}
#links_sociais{
    margin-top: 0;
}
#redes{
    margin-top: 15px;
    border-radius: 50%;
    border: 2px solid black;
    height: 32px;
}
#redes:hover{
    background-color: red;
}